/*@media screen and (min-width: 480px) {
  .maglogos {
    max-width: 50%;
  }
}*/

h1 {
	color: #595958;
	font-size: 80px;
	padding: 45px;
}

h3 {
	padding: 30px;
}
.tagline {
	color: #595958;
	font-size: 40px;
	padding-left: 45px;	
}

.topsign {
	display: right;
	background-color: #fcfa90;
	width: 250px;
}

.homeimage {
	max-width:100%;
}

.maglogos {
	max-width:70%;
}


.socialproof {
	color: #8a8d91;
	font-family: ‘Raleway’, sans-serif;
	font-size: 20;
}

.card {
	border: none;	
}
.card_review {
	border: none;
	padding: 70px;
	margin-left: 30px;
	min-width: 100%;
}

.app_store {
	max-width: 10rem;
	padding: 10px;
}


.navbar-custom {
	background-color: #fcc490;
}

.firstvalprop {
	padding-top: 30px;
	max-width: 90%;
}

.thirdvalprop {
	padding-bottom: 30px;

}


.teampic {
	max-width: 70%;
}

.five-stars {
	max-width: 70%;
	vertical-align: bottom;
}

.button_color {
	background-color: grey;
}

.sign_up_button {
	background-color: #fcfa90;
	width: 250px;
	border: 2px;
	border-color: #8a8d91;
}

.sign_up_color {
	background-color: #595958;
}

.download_special {

		}

.icon {
 	width:  50px;
 	height: auto;
	line-height: 4;
}

.bottomfont {
	color: #ffffff;
	 }

.map_special {
	max-width: 100%;
}
